baseURL = "https://arran4.github.io/awesome-postserver/"
languageCode = "en-us"
title = "Awesome Post-Server"
theme = "PaperMod"

[params]
  defaultTheme = "auto"
  ShowReadingTime = true
  ShowShareButtons = true
  ShowPostNavLinks = true
  ShowBreadCrumbs = true
  ShowCodeCopyButtons = true
  disableSpecial1stPost = false
  disableScrollToTop = false
  comments = false
  hidemeta = false
  hideSummary = false
  showtoc = true
  tocopen = true

[menu]
  [[menu.main]]
    identifier = "contributing"
    name = "Contributing"
    url = "https://github.com/arran4/awesome-postserver/blob/master/CONTRIBUTING.md"
    weight = 10
